<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYAdview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZYLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZYVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>sdkIOSDemo (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>sdkIOSDemo-desktop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sdkIOSDemo-mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>sdkIOSDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B72DD961D783573009296BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B72DDAD1D783646009296BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B72DDD11D7843A4009296BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B7859521DAC8F250072B429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B97A07A1D766DFC00FD654F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB74AFE1D2BC54D00D6A080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5087E73D17EB910900C73F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
